.icon{
    color:#0E0E0E; 
    background: none;
    font-size: 30px;

border-radius: 0px;

    
}
.btn{
/* text-align: center; */
color: #00E100
;
font-size: 30px;



    
}
.title1{
  
 
    font-size: 30px;
    color: #0E0E0E;
    margin-top: 200px;
    
    
        
    }

        

.groupInput{


border-radius: 8px;
        
    }
            

.para{


    
    
    font-size: 28px;
    line-height: 34px;
 
   color: #504F4F;
    

            
        }



.title{
  
    color: #00E100
    ;
    font-size: 30px;
    
    
        
    }
.buton{
/* width: 491px; */
background: #0E0E0E;
        
    }
    .col2{

        background: #0E0E0E;
        height: 800px;
        border-radius: 30px;
    
                
            }
            .col1 {

background: #FFFF;

                height: 800px;
                border-radius: 30px;
                
            
                        
                    }
                

            .image{

            margin-top: 200px;
            
                        
                    }